root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.php]
indent_size = 4

[.git{ignore,modules}]
indent_style = tab
indent_size = 1

[*.plist]
indent_size = 1
indent_style = tab

[local/bin/*]
shell_variant      = bash # --language-variant
binary_next_line   = true
switch_case_indent = true # --case-indent
space_redirects    = true
keep_padding       = true
function_next_line = true # --func-next-line

