root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.py]
indent_size = 4
max_line_length = 120

[*.fish]
max_line_length = 120

[*.md]
max_line_length = 120
trim_trailing_whitespace = false

[*.lua]
max_line_length = 90

[*.{php,fish}]
indent_size = 4

[.git{ignore,modules}]
indent_style = tab
indent_size = 1

[{local/bin/*,**/*.sh,**/zshrc,config/*,scripts/*}]
indent_size        = 2
tab_width          = 2
shell_variant      = bash # --language-variant
binary_next_line   = true
switch_case_indent = true # --case-indent
space_redirects    = true
keep_padding       = false
function_next_line = true # --func-next-line

[{*.plist,config/git/**,**/config/git/**}]
indent_size = 1
indent_style = tab

# Ignore the entire "third_party" directory when calling shfmt on directories,
# such as "shfmt -l -w .". When formatting files directly,
# like "shfmt -w third_party/foo.sh" or "shfmt --filename=third_party/foo.sh",
# the ignore logic is applied only when the --apply-ignore flag is given.
[{tools/**,local/bin/asdf/**,config/cheat/cheatsheets/**,config/tmux/plugins/**}]
ignore = true

[plan]
trim_trailing_whitespace = false
max_line_length = off

[base/hammerspoon/hammerspoon.types.lua]
max_line_length = off
