root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
max_line_length = 100

[*.php]
indent_size = 4

[.git{ignore,modules}]
indent_style = tab
indent_size = 1

[*.plist]
indent_size = 1
indent_style = tab

[{local/bin/*,**/*.sh,**/zshrc,config/*,scripts/*}]
shell_variant      = bash # --language-variant
binary_next_line   = true
switch_case_indent = true # --case-indent
space_redirects    = true
keep_padding       = false
function_next_line = true # --func-next-line

# Ignore the entire "third_party" directory when calling shfmt on directories,
# such as "shfmt -l -w .". When formatting files directly,
# like "shfmt -w third_party/foo.sh" or "shfmt --filename=third_party/foo.sh",
# the ignore logic is applied only when the --apply-ignore flag is given.
[{tools/**,local/bin/asdf/**,config/cheat/cheatsheets/**}]
ignore = true
