# vim: set expandtab:
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot.git
	ignore = dirty

[submodule "dotbot-brew"]
	path = dotbot-brew
	url = https://github.com/wren/dotbot-brew.git
	ignore = dirty

[submodule "dotbot-include"]
	path = dotbot-include
	url = https://gitlab.com/gnfzdz/dotbot-include.git
	ignore = dirty

[submodule "config/nvim"]
	path = config/nvim
	url = https://github.com/AstroNvim/AstroNvim.git
	ignore = dirty
	branch = main
	update = checkout

[submodule "config/astronvim/lua/user"]
	path = config/astronvim/lua/user
	url = https://github.com/ivuorinen/astronvim_config.git
	update = rebase
	branch = main
	ignore = dirty

[submodule "cheat-community"]
	path = config/cheat/cheatsheets/community
	url = https://github.com/cheat/cheatsheets.git
	ignore = dirty

