[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot.git
	ignore = dirty

[submodule "dotbot-brew"]
	path = dotbot-brew
	url = https://github.com/wren/dotbot-brew.git
	ignore = dirty

[submodule "dotbot-if"]
	path = dotbot-if
	url = https://github.com/wonderbeyond/dotbot-if.git
	ignore = dirty

[submodule "dotbot-gh-extension"]
	path = dotbot-gh-extension
	url = https://github.com/fundor333/dotbot-gh-extension.git
	ignore = dirty

[submodule "config/nvim"]
	path = config/nvim
	url = https://github.com/AstroNvim/AstroNvim.git
	ignore = dirty
	branch = main
	update = checkout

[submodule "config/astronvim/lua/user"]
	path = config/astronvim/lua/user
	url = https://github.com/ivuorinen/astronvim_config.git
	update = rebase
	branch = main
	ignore = dirty
