Brewfile.lock.json
*.log
*-secret
*cache
.idea
.vscode
config/cheat/cheatsheets/pure-bash-bible/*
config/cheat/cheatsheets/tldr/*
config/git/credentials
config/npm/npmrc
config/zsh/.zcompdump
ssh/local.d/*
!ssh/local.d/.gitkeep
!.gitkeep
.env
local/share/fonts/NerdFonts

