(
    selected_tab: Some("Reset"),
    command_fg: Some("#4c4f69"),
    selection_bg: Some("#acb0be"),
    selection_fg: Some("#4c4f69"),
    cmdbar_bg: Some("#e6e9ef"),
    cmdbar_extra_lines_bg: Some("#e6e9ef"),
    disabled_fg: Some("#8c8fa1"),
    diff_line_add: Some("#327c21"),
    diff_line_delete: Some("#d20f39"),
    diff_file_added: Some("#327c21"),
    diff_file_removed: Some("#d61d2d"),
    diff_file_moved: Some("#8839ef"),
    diff_file_modified: Some("#be4601"),
    commit_hash: Some("#3d5afc"),
    commit_time: Some("#5c5f77"),
    commit_author: Some("#187787"),
    danger_fg: Some("#d20f39"),
    push_gauge_bg: Some("#1761f5"),
    push_gauge_fg: Some("#eff1f5"),
    tag_fg: Some("#bb4930"),
    branch_fg: Some("#13797e")
)
