(
  name: "Catppuccin Latte",
  foreground: "#4c4f69",
  cursor: "#bb4930",
  bright_foreground: "#4c4f69",
  dim_foreground: "#9ca0b0",
  normal: (
    black: "#5c5f77",
    red: "#d20f39",
    green: "#327c21",
    yellow: "#996114",
    blue: "#1761f5",
    magenta: "#c71f9a",
    cyan: "#13797e",
    white: "#acb0be"
  ),
  bright: (
    black: "#6c6f85",
    red: "#d20f39",
    green: "#327c21",
    yellow: "#996114",
    blue: "#1761f5",
    magenta: "#c71f9a",
    cyan: "#13797e",
    white: "#bcc0cc"
  ),
  dim: (
    black: "#5c5f77",
    red: "#d20f39",
    green: "#327c21",
    yellow: "#996114",
    blue: "#1761f5",
    magenta: "#c71f9a",
    cyan: "#13797e",
    white: "#acb0be"
  ),
)
