(
  name: "Kanagawa Wave",
  foreground: "#dcd7ba",
  cursor: "#c8c093",
  bright_foreground: "#dcd7ba",
  dim_foreground: "#727169",
  normal: (
    black: "#363646",
    red: "#e46876",
    green: "#98bb6c",
    yellow: "#e6c384",
    blue: "#7e9cd8",
    magenta: "#d27e99",
    cyan: "#7aa89f",
    white: "#c8c093"
  ),
  bright: (
    black: "#54546d",
    red: "#e46876",
    green: "#98bb6c",
    yellow: "#e6c384",
    blue: "#7e9cd8",
    magenta: "#d27e99",
    cyan: "#7aa89f",
    white: "#a6a69c"
  ),
  dim: (
    black: "#363646",
    red: "#e46876",
    green: "#98bb6c",
    yellow: "#e6c384",
    blue: "#7e9cd8",
    magenta: "#d27e99",
    cyan: "#7aa89f",
    white: "#c8c093"
  ),
)
