---
# $schema: "https://json.schemastore.org/github-workflow.json"
name: Sync labels

# yamllint disable-line rule:truthy
on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/sync-labels.yml
      - .github/labels.yml
  schedule:
    - cron: '34 5 * * *'
  workflow_call:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: read-all

jobs:
  SyncLabels:
    runs-on: ubuntu-latest

    permissions:
      issues: write

    steps:
      - uses: ivuorinen/actions/sync-labels@a52399cf74eac2b0963591ab2c6c8eb0f7f50b2d # v2025.12.02
